@import url(./main.css);
@font-face {
  font-family: "NauryzRedKeds";
  src: url(../assets/fonts/NauryzRedKeds.ttf);
}

@font-face {
  font-family: "Involve";
  src: url(../assets/fonts/Involve-SemiBold.ttf);
}

:root {
  --family-primary: "NauryzRedKeds", sans-serif;
  --family-secondary: "Involve", sans-serif;
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-dark) !important;
  color: var(--bs-white) !important;
}

.accordion {
  --bs-accordion-active-bg: var(--bs-dark) !important;
  --bs-accordion-active-color: var(--bs-white) !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.is-width-m {
  max-width: 600px;
}

.is-width-s {
  max-width: 300px;
}

body {
  font-family: var(--family-secondary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--family-primary);
  color: var(--brand-text);
}

h5,
h6 {
  font-family: var(--family-secondary);
  font-weight: bold;
}

.fw-bolder {
  font-weight: 600 !important;
}

body,
.title,
.subtitle,
.label,
.content {
  color: var(--brand-text);
}

nav,
.styled-text {
  font-family: var(--family-primary);
}
