@import "../../node_modules/bootstrap/scss/functions";
$custom-colors: (
  "primary": #23472f,
  "secondary": #6fa167,
  "success": #92c427,
  "info": #6fa167,
  "warning": #e2c569,
  "danger": #c22424,
  "light": #b4b4b4,
  "dark": #000000,
);
$border-radius: 5rem;
@import "../../node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/bootstrap";
